# Day 3 - Pandas Introduction
Learn how to use Pandas to create, explore, and manipulate datasets.

## Import Libraries

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

## Pandas Basics: Series and DataFrame

In [ ]:
# Create a Series
s = pd.Series([1, 2, 3, 4])
print("Series:")
print(s)

# Create a DataFrame from a dictionary
data = {'Name': ['Manthan', 'Ananya', 'Ravi'], 'Score': [85, 92, 78]}
df = pd.DataFrame(data)
print("DataFrame:")
print(df)

# Explore structure
print(df.head())
print(df.tail())
print(df.shape)
print(df.columns)
print(df.index)
print(df.dtypes)

## Load Dataset: Iris

In [ ]:
# Load the built-in Iris dataset
iris = sns.load_dataset("iris")

# View dataset info
print(iris.info())
print(iris.describe())
print(iris.isnull().sum())

## Access and Filter Data

In [ ]:
# Access columns
print(iris['sepal_length'])
print(iris[['sepal_length', 'species']])

# Using loc and iloc
print(iris.loc[0])
print(iris.iloc[0:5])

# Add a new column
iris['sepal_ratio'] = iris['sepal_length'] / iris['sepal_width']
print(iris.head())

# Drop the new column
iris.drop('sepal_ratio', axis=1, inplace=True)

# Drop a row
iris.drop(0, axis=0, inplace=True)
print(iris.head())

## Built-in Methods

In [ ]:
# Aggregation functions
print("Mean sepal length:", iris['sepal_length'].mean())
print("Sum sepal width:", iris['sepal_width'].sum())
print("Min petal length:", iris['petal_length'].min())
print("Max petal length:", iris['petal_length'].max())

# Unique values and counts
print("Unique species:", iris['species'].unique())
print("Species counts:")
print(iris['species'].value_counts())

# Sorting
print(iris.sort_values(by='sepal_length', ascending=False).head())