# Day 4 - Pandas: Data Manipulation I (Superstore Dataset)
Working with real-world retail data to access, filter, clean, group, and merge.

## Import Libraries and Load Dataset

In [22]:
import pandas as pd

# Load the renamed Superstore CSV
df = pd.read_csv('superstore.csv', encoding='ISO-8859-1')

# Clean column names for consistency
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('-', '_')

# Preview data
print(df.head())

   row_id        order_id  order_date   ship_date       ship_mode customer_id  \
0       1  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
1       2  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
2       3  CA-2016-138688   6/12/2016   6/16/2016    Second Class    DV-13045
3       4  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335
4       5  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335

     customer_name    segment        country             city  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  postal_code  region       product_id         category sub_category  \
0       42420   South  FUR-BO-10001798        Furniture    Bookcases
1       42420   South  FUR-CH-10000454        Furniture       Chairs
2       90036    West  OFF-LA-10000240  Office Supplies       Labels
3       33311   South  FUR-TA-10000577        Furniture       Tables
4       33311   South  OFF-ST-10000760  Office Supplies      Storage

                                        product_name     sales  quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   discount    profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

[5 rows x 21 columns]

## Task 1: Indexing and Slicing

In [23]:
# Access using loc and iloc
print(df.loc[0, 'sales'])
print(df.iloc[0:3, 3:6])

# Select rows and columns
print(df[['region', 'sales', 'profit']])
print(df[df['sales'] > 500])

261.96
    ship_date     ship_mode customer_id
0  11/11/2016  Second Class    CG-12520
1  11/11/2016  Second Class    CG-12520
2   6/16/2016  Second Class    DV-13045
     region     sales    profit
0     South  261.9600   41.9136
1     South  731.9400  219.5820
2      West   14.6200    6.8714
3     South  957.5775 -383.0310
4     South   22.3680    2.5164
...     ...       ...       ...
9989  South   25.2480    4.1028
9990   West   91.9600   15.6332
9991   West  258.5760   19.3932
9992   West   29.6000   13.3200
9993   West  243.1600   72.9480

[9994 rows x 3 columns]
      row_id        order_id  order_date   ship_date       ship_mode  \
1          2  CA-2016-152156   11/8/2016  11/11/2016    Second Class
3          4  US-2015-108966  10/11/2015  10/18/2015  Standard Class
7          8  CA-2014-115812    6/9/2014   6/14/2014  Standard Class
10        11  CA-2014-115812    6/9/2014   6/14/2014  Standard Class
11        12  CA-2014-115812    6/9/2014   6/14/2014  Standard Class
...      ...             ...         ...         ...             ...
9931    9932  CA-2015-104948  11/13/2015  11/17/2015  Standard Class
9942    9943  CA-2014-143371  12/28/2014    1/3/2015  Standard Class
9947    9948  CA-2017-121559    6/1/2017    6/3/2017    Second Class
9948    9949  CA-2017-121559    6/1/2017    6/3/2017    Second Class
9968    9969  CA-2017-153871  12/11/2017  12/17/2017  Standard Class

     customer_id    customer_name    segment        country             city  \
1       CG-12520      Claire Gute   Consumer  United States        Henderson
3       SO-20335   Sean O'Donnell   Consumer  United States  Fort Lauderdale
7       BH-11710  Brosina Hoffman   Consumer  United States      Los Angeles
10      BH-11710  Brosina Hoffman   Consumer  United States      Los Angeles
11      BH-11710  Brosina Hoffman   Consumer  United States      Los Angeles
...          ...              ...        ...            ...              ...
9931    KH-16510    Keith Herrera   Consumer  United States   San Bernardino
9942    MD-17350    Maribeth Dona   Consumer  United States          Anaheim
9947    HW-14935  Helen Wasserman  Corporate  United States     Indianapolis
9948    HW-14935  Helen Wasserman  Corporate  United States     Indianapolis
9968    RB-19435  Richard Bierner   Consumer  United States       Plainfield

      ... postal_code   region       product_id         category sub_category  \
1     ...       42420    South  FUR-CH-10000454        Furniture       Chairs
3     ...       33311    South  FUR-TA-10000577        Furniture       Tables
7     ...       90032     West  TEC-PH-10002275       Technology       Phones
10    ...       90032     West  FUR-TA-10001539        Furniture       Tables
11    ...       90032     West  TEC-PH-10002033       Technology       Phones
...   ...         ...      ...              ...              ...          ...
9931  ...       92404     West  FUR-BO-10004357        Furniture    Bookcases
9942  ...       92804     West  OFF-ST-10001128  Office Supplies      Storage
9947  ...       46203  Central  FUR-CH-10003746        Furniture       Chairs
9948  ...       46203  Central  OFF-AP-10002945  Office Supplies   Appliances
9968  ...        7060     East  OFF-BI-10004600  Office Supplies      Binders

                                           product_name      sales  quantity  \
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...   731.9400         3
3         Bretford CR4500 Series Slim Rectangular Table   957.5775         5
7                        Mitel 5320 IP Phone VoIP phone   907.1520         6
10             Chromcraft Rectangular Conference Tables  1706.1840         9
11        Konftel 250 Conference phone - Charcoal black   911.4240         4
...                                                 ...        ...       ...
9931     O'Sullivan Living Dimensions 3-Shelf Bookcases   683.3320         4
9942        Carina Mini System Audio Rack, Model AR050B   998.8200         9
9947  Hon 4070 Series Pagoda Round Back Stacking Chairs  1925.8800         6
9948  Honeywell Enviracaire Portable HEPA Air Cleane...  2405.2000         8
9968          Ibico Ibimaster 300 Manual Binding System   735.9800         2

      discount    profit
1         0.00  219.5820
3         0.45 -383.0310
7         0.20   90.7152
10        0.20   85.3092
11        0.20   68.3568
...        ...       ...
9931      0.15  -40.1960
9942      0.00   29.9646
9947      0.00  539.2464
9948      0.00  793.7160
9968      0.00  331.1910

[1162 rows x 21 columns]

## Task 2: Filtering and Sorting

In [24]:
# Filter rows with sales > 500 and region is 'South'
filtered = df[(df['sales'] > 500) & (df['region'] == 'South')]
print(filtered[['order_id', 'sales', 'region']])

# Sort by Profit and then Category
df.sort_by_profit = df.sort_values('profit', ascending=False)
df.sort_by_category_sales = df.sort_values(by=['category', 'sales'])
print(df.sort_by_profit.head())
print(df.sort_by_category_sales.head())

            order_id      sales region
1     CA-2016-152156   731.9400  South
3     US-2015-108966   957.5775  South
72    US-2015-134026   831.9360  South
182   CA-2014-158274   503.9600  South
232   US-2017-100930   620.6145  South
...              ...        ...    ...
9639  CA-2015-116638  4297.6440  South
9689  US-2017-135986   503.9600  South
9732  CA-2014-114321   500.2400  South
9734  CA-2014-114321   896.9900  South
9816  CA-2015-162201   516.9600  South

[199 rows x 3 columns]
      row_id        order_id  order_date   ship_date       ship_mode  \
6826    6827  CA-2016-118689   10/2/2016   10/9/2016  Standard Class
8153    8154  CA-2017-140151   3/23/2017   3/25/2017     First Class
4190    4191  CA-2017-166709  11/17/2017  11/22/2017  Standard Class
9039    9040  CA-2016-117121  12/17/2016  12/21/2016  Standard Class
4098    4099  CA-2014-116904   9/23/2014   9/28/2014  Standard Class

     customer_id  customer_name    segment        country         city  ...  \
6826    TC-20980   Tamara Chand  Corporate  United States    Lafayette  ...
8153    RB-19360   Raymond Buch   Consumer  United States      Seattle  ...
4190    HL-15040   Hunter Lopez   Consumer  United States       Newark  ...
9039    AB-10105  Adrian Barton   Consumer  United States      Detroit  ...
4098    SC-20095   Sanjit Chand   Consumer  United States  Minneapolis  ...

     postal_code   region       product_id         category sub_category  \
6826       47905  Central  TEC-CO-10004722       Technology      Copiers
8153       98115     West  TEC-CO-10004722       Technology      Copiers
4190       19711     East  TEC-CO-10004722       Technology      Copiers
9039       48205  Central  OFF-BI-10000545  Office Supplies      Binders
4098       55407  Central  OFF-BI-10001120  Office Supplies      Binders

                                          product_name     sales  quantity  \
6826             Canon imageCLASS 2200 Advanced Copier  17499.95         5
8153             Canon imageCLASS 2200 Advanced Copier  13999.96         4
4190             Canon imageCLASS 2200 Advanced Copier  10499.97         3
9039  GBC Ibimaster 500 Manual ProClick Binding System   9892.74        13
4098              Ibico EPK-21 Electric Binding System   9449.95         5

      discount     profit
6826       0.0  8399.9760
8153       0.0  6719.9808
4190       0.0  5039.9856
9039       0.0  4946.3700
4098       0.0  4630.4755

[5 rows x 21 columns]
      row_id        order_id  order_date   ship_date       ship_mode  \
8183    8184  CA-2017-155642   5/18/2017   5/22/2017  Standard Class
1358    1359  CA-2017-160045   4/26/2017   4/27/2017     First Class
3333    3334  CA-2017-122595  12/14/2017  12/20/2017  Standard Class
1106    1107  US-2016-110156  11/19/2016  11/24/2016  Standard Class
8561    8562  CA-2016-132829  12/23/2016  12/26/2016    Second Class

     customer_id    customer_name      segment        country        city  \
8183    BM-11575    Brendan Murry    Corporate  United States     Chicago
1358    LB-16735     Larry Blacks     Consumer  United States  Fort Worth
3333    GM-14455     Gary Mitchum  Home Office  United States     Chicago
1106    EH-13945    Eric Hoffmann     Consumer  United States     Houston
8561    LA-16780  Laura Armstrong    Corporate  United States     Houston

      ... postal_code   region       product_id   category sub_category  \
8183  ...       60653  Central  FUR-FU-10001918  Furniture  Furnishings
1358  ...       76106  Central  FUR-FU-10000010  Furniture  Furnishings
3333  ...       60653  Central  FUR-FU-10002963  Furniture  Furnishings
1106  ...       77041  Central  FUR-FU-10000206  Furniture  Furnishings
8561  ...       77041  Central  FUR-FU-10000206  Furniture  Furnishings

                                           product_name  sales  quantity  \
8183  C-Line Cubicle Keepers Polyproplyene Holder Wi...  1.892         1
1358    DAX Value U-Channel Document Frames, Easel Back  1.988         1
3333                      Master Caster Door Stop, Gray  2.032         1
1106  GE General Purpose, Extra Long Life, Showcase ...  2.328         2
8561  GE General Purpose, Extra Long Life, Showcase ...  2.328         2

      discount  profit
8183       0.6 -0.9933
1358       0.6 -1.4413
3333       0.6 -1.3208
1106       0.6 -0.7566
8561       0.6 -0.7566

[5 rows x 21 columns]

/var/folders/w0/gzl72q_50mbf77nryh92smw80000gn/T/ipykernel_57402/4279869947.py:6: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.sort_by_profit = df.sort_values('profit', ascending=False)
/var/folders/w0/gzl72q_50mbf77nryh92smw80000gn/T/ipykernel_57402/4279869947.py:7: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.sort_by_category_sales = df.sort_values(by=['category', 'sales'])

## Task 3: Handling Missing Data

In [25]:
# Check for missing values
print(df.isnull().sum())

# Fill or drop missing values
df_filled = df.fillna(0)
df_dropped = df.dropna()

# Show filled data example
print(df_filled.head())

row_id           0
order_id         0
order_date       0
ship_date        0
ship_mode        0
customer_id      0
customer_name    0
segment          0
country          0
city             0
state            0
postal_code      0
region           0
product_id       0
category         0
sub_category     0
product_name     0
sales            0
quantity         0
discount         0
profit           0
dtype: int64
   row_id        order_id  order_date   ship_date       ship_mode customer_id  \
0       1  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
1       2  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
2       3  CA-2016-138688   6/12/2016   6/16/2016    Second Class    DV-13045
3       4  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335
4       5  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335

     customer_name    segment        country             city  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  postal_code  region       product_id         category sub_category  \
0       42420   South  FUR-BO-10001798        Furniture    Bookcases
1       42420   South  FUR-CH-10000454        Furniture       Chairs
2       90036    West  OFF-LA-10000240  Office Supplies       Labels
3       33311   South  FUR-TA-10000577        Furniture       Tables
4       33311   South  OFF-ST-10000760  Office Supplies      Storage

                                        product_name     sales  quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   discount    profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

[5 rows x 21 columns]

## Task 4: GroupBy Operations

In [26]:
# Average sales by category
print(df.groupby('category')['sales'].mean())

# Aggregation by region
region_stats = df.groupby('region')['sales'].agg(['sum', 'mean', 'count']).reset_index()
print(region_stats)

category
Furniture          349.834887
Office Supplies    119.324101
Technology         452.709276
Name: sales, dtype: float64
    region          sum        mean  count
0  Central  501239.8908  215.772661   2323
1     East  678781.2400  238.336110   2848
2    South  391721.9050  241.803645   1620
3     West  725457.8245  226.493233   3203

## Task 5: Merging Example

In [27]:
# Create dummy customer and orders tables
orders = df[['order_id', 'customer_id']]
customers = df[['customer_id', 'customer_name']].drop_duplicates()

# Merge the two
merged = pd.merge(orders, customers, on='customer_id', how='inner')
print(merged.head())

         order_id customer_id    customer_name
0  CA-2016-152156    CG-12520      Claire Gute
1  CA-2016-152156    CG-12520      Claire Gute
2  CA-2016-138688    DV-13045  Darrin Van Huff
3  US-2015-108966    SO-20335   Sean O'Donnell
4  US-2015-108966    SO-20335   Sean O'Donnell