# Day 9 - Advanced SQL Analytics & Business Insights

## Step 1: Connect to Database

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("Chinook_Sqlite.sqlite")

## Task 1: Multi-table Join Analysis

In [ ]:
# Total revenue and number of orders per customer
query = '''
SELECT c.CustomerId, c.FirstName, c.LastName, c.Country,
       COUNT(i.InvoiceId) AS NumOrders,
       SUM(i.Total) AS TotalSpent
FROM Customer c
JOIN Invoice i ON c.CustomerId = i.CustomerId
GROUP BY c.CustomerId
ORDER BY TotalSpent DESC
LIMIT 5;
'''
pd.read_sql_query(query, conn)

## Task 2: Window Functions

In [ ]:
# Rank customer orders by amount
query = '''
SELECT i.CustomerId, i.InvoiceId, i.Total,
       RANK() OVER (PARTITION BY i.CustomerId ORDER BY i.Total DESC) AS OrderRank
FROM Invoice i;
'''
pd.read_sql_query(query, conn)

In [ ]:
# Running total of revenue by InvoiceDate
query = '''
SELECT InvoiceDate, Total,
       SUM(Total) OVER (ORDER BY InvoiceDate) AS RunningTotal
FROM Invoice;
'''
pd.read_sql_query(query, conn).head(10)

## Task 3: CTEs (Common Table Expressions)

In [ ]:
# CTE: Customers with Avg Order > 15
query = '''
WITH AvgOrder AS (
    SELECT CustomerId, AVG(Total) AS AvgTotal
    FROM Invoice
    GROUP BY CustomerId
)
SELECT * FROM AvgOrder
WHERE AvgTotal > 15;
'''
pd.read_sql_query(query, conn)

## Task 4: Trend Analysis (Simulated)

In [ ]:
# Group monthly sales (simulated trend detection)
query = '''
SELECT strftime('%Y-%m', InvoiceDate) AS Month,
       SUM(Total) AS MonthlyRevenue
FROM Invoice
GROUP BY Month
ORDER BY Month;
'''
pd.read_sql_query(query, conn)

âœ… Add screenshots of analysis to GitHub folder if required.